# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.WorldOlympiaFitness.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\SuleymaN\Desktop\temp\azerbaycan_mysqlc4_3\WorldOlympiaFitness\.idea\.idea.WorldOlympiaFitness\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
